.main-div{
    background-color: rgb(202, 152, 250);
    width: 500px;

}
.main-heading{
    display: flex;
    background-color: antiquewhite;

}
.circule{
    margin-right: 20px;
    margin-left: 10px;
    border-radius: 50%;
    color: blue;
    cursor: pointer;
    font-weight: bolder;
}